:root{
    --bg-color: #000;
    --bg-input: #121212;
    --text-color: #fff;
    --button-color: #0068AC;
    --border-color: #555555;
    --link-color: #3579ea;
    --color-sec: #a8a8a8;
}

@media (max-width: 950px) {

    .div1{
        display: none;
        min-width: 340px;
    }

    article{
        display: flex;
        justify-content: center;
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

body{
    background-color: var(--bg-color);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div1{
    height: 491px;
    width: 585px;
}

article{
    width: 985px;
    height: 523px;
    display: flex;
    gap: 10px;
    padding-top:10px;
}

.div2{
    width: 350px;
    height: 479px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head{
    height: 408px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#login{
    height: 277px;
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#username,#password{
    width: 270px;
    height: 38px;
    background-color: var(--bg-input);
    color: var(--text-color);
    padding-left: 10px;
    border: solid 1px var(--border-color);
    border-radius: 3px;
}

#username,#password::placeholder{
    font-size: 12px;
}

#username,#password:hover{
    cursor:pointer;
}


#loginbtn{
    width: 270px;
    height: 32px;
    background-color: var(--button-color);
    color: var(--color-sec);
    border: solid 1px var(--button-color);
    border-radius: 10px;
    font-weight: bolder;
    font-size: 13px;
    margin: 10px 0;
    transition: all 0.3s ease-in-out;
}

#loginbtn:hover{
    background-color: #0067acc7;
}

.or{
    width: 270px;
    display: flex;
    padding: 0 5px;
    margin: 5px 0;
}

.or>div{
    width: 100%;
    height: 1px;
    border-top: solid 0.5px var(--border-color);
    margin-top: 5px;
}

.or>span{
    color: var(--text-color);
    margin: 0 15px;
    font-size: 12px;
    font-weight: 600;
}

.logface{
    display: flex;
    width: 270px;
    justify-content: center;
    align-items: flex-end;
    height: 40px;
}

.logface>a{
    color: var(--link-color);
    font-size: 13px;
    height: 18px;
    padding-left: 5px;
    padding-bottom: 18px;
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
}

.logface>a:hover{
    border-bottom: solid 1px var(--link-color);
}

.up{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.logo{
    padding: 10px;
    transition: all 0.3s ease;
}

.logo:hover{
    transform: scale(1.1);
}

.down{
    height: 50px;
    padding: 20px;
}

.down>a{
    color: var(--text-color);
    font-size: 13.4px;
    transition:all 0.3s ease-in-out;
}

.down>a:hover{
    color: var(--button-color);
}

.footer{
    color: var(--text-color);
    width: 270px;
    text-align: center;
    font-size: 14px;
}

.footer a{
    color: var(--button-color);
    font-weight: 550;
    font-size: 15px;
}